deploy/envoi-transcribe-step-function.json
{
  "Comment": "A state machine that transcribes documents.",
  "StartAt": "StartTranscriptionJob",
  "States": {
    "StartTranscriptionJob": {
      "Type": "Task",
      "Parameters": {
        "Media.$": "$.Transcribe.Media",
        "IdentifyLanguage": "true",
        "OutputBucketName.$": "$.Transcribe.OutputBucketName",
        "TranscriptionJobName.$": "$.Transcribe.TranscriptionJobName",
        "Subtitles": {
          "Formats": [
            "srt",
            "vtt"
          ],
          "OutputStartIndex": 1
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Next": "GetTranscriptionJob"
    },
    "GetTranscriptionJob": {
      "Type": "Task",
      "Parameters": {
        "TranscriptionJobName.$": "$.TranscriptionJob.TranscriptionJobName"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Next": "Is Running?"
    },
    "Is Running?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "IN_PROGRESS",
          "Next": "Wait for Transcription to Complete"
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Wait for Transcription to Complete": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetTranscriptionJob"
    }
  }
}